/* Mise en forme générale */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Mise en forme du header */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #333;
  }
  
  h1 {
    margin: 0;
    font-size: 36px;
  }
  
  /* Mise en forme du main */


  main {    
    margin: 0 auto;    
  }

  .img_banner {
    display: block;
    width: 800px;
    height: 600px;
    margin: 0 auto;
  }
  section {
    margin-bottom: 40px;
  }
  #about {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .information_about {
    max-width: 60%;
    display: flex;
    flex-direction: column;    
    text-align: center;
  }
  h2 {
    margin-top: 0;
    font-size: 28px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #skills_section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;    
  }
  hr {
    display: block;
    margin: 50px 0 -20px;
    max-width: 1200px;
    width: 100%;
    height: 1px;
    border: 0;
    background-color:black; }
  
    

  .title_categorie {
    border-width: 1px 0;
    display: inline-block;
    position: relative;
    left: 50%;
    z-index: 3;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #453986;
    transform: translateX(-50%);
    color: #453986;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.32em;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    margin-bottom: 50px;
  }
  .skill_title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .skill {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    
  }
  
  .skill img {
    width: 100%;
    max-width: 120px;
    margin-bottom: 10px;
  }
  .project_title {
    display: flex;
    justify-content: center;
  }
  .titreprojet {
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .footer_color  {
    background-color: black;
    margin-top: 50px;
    display: flex;
    height: 60px;
    padding-top: 20px;    
    padding-left: 30px;
    justify-content: center;
   
  }
  .footer_color a {    
    margin-right: 30px;
    color: #fff;
    text-decoration: none;
  }
.gitlogofooter {
  height: 40px;
  width: 40px;
}
  @media only screen and (max-width: 768px) {
    .skill {
      width: 45%;
    }
  }
  li img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    
  }
  #projects {    
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    
  }
  
  .gallery a {
    display: block;
    width: calc(40% - 10px);
    margin-bottom: 20px;
    text-decoration: none;
    color: #333;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
  .gallery p {
    margin: 10px 0;
  }
  
  /* Mise en forme du formulaire */

  #contact {
    max-width: 1200px;
    margin: auto;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #fff;
    color: #333;
  }